/* -------------------------------------------------------------------- */
/* Estilo pagina pagos */
.body_pago {
  background: #ebe4b6;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container_pago {
  background: #c1e5dc;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 6px 20px rgba(255, 253, 253, 0.1);
  max-width: 500px;
  width: 100%;
}

.h2_pago {
  text-align: center;
  color: #333;
  margin-bottom: 25px;
}

.p_pago {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.label_pago {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #555;
}

.button_pago {
  background-color: #4CAF50;
  color: white;
  border: none;
  margin-top: 25px;
  transition: background-color 0.3s ease;
}

.button_pago_regresar {
  /*background-color: #71eccd;*/
  color: rgb(28, 71, 243);
  border: none;
  margin-top: 50px;
  transition: background-color 0.3s ease;
}

/* --------------------------------------------------*/
/* Estilo pagina Menu */
.body_menu {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #dfdaac;
}

.header_menu {
  background-color: #222;
  color: white;
  padding: 15px 20px;
  position: relative;
  text-align: center;
  font-size: 1.5rem;
}

.section-title {
  margin: 50px 0 30px;
  border-bottom: 3px solid #ccc;
  padding-bottom: 10px;
  text-align: center;
  color: #333;
}

.card img {
  height: 270px;
  object-fit: cover;
}

.btn-custom {
  background-color: #343a40;
  color: white;
}

.btn-custom:hover {
  background-color: #555;
}

.footer_menu {
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  background-color: #f1f1f1;
  color: #555;
  }

.btn-siguiente {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  color: #222;
  border: none;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.btn-siguiente:hover {
  background-color: #ddd;
}

/* --------------------------------------------------*/
